{%exdents home_page%}{%block comments%}
<div class="w3-padding-large  w3-black">comments</div>
		<div class="w3-container w3-card w3-padding-large">
			<div class="w3-container w3-cell">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" class="w3-circle w3-left " style="width:80px;height:80px;">
				<br>
				<span class="w3-left">
					<h4>{{username}}</h4>
				</span> 
			</div>
			<div class="w3-container w3-cell">
				<p>According to a person familiar with this encounter, which took place about a decade ago, the agency had been preparing it for months. Through a business front, it had funded and staged the conference at an unsuspecting foreign centre of scientific research, invited speakers and guests, and planted operatives among the kitchen workers and other staff, just so it could entice the nuclear expert out of Iran, separate him for a few minutes from his guards, and pitch him one-to-one. A last-minute snag had almost derailed the plans: the target switched hotels because the conference’s preferred hotel cost $75 more than his superiors in Iran were willing to spend.
				</p>
				<button type="submit" class=" w3-btn w3-card w3-right w3-yellow" >comments</button>
			</div>
			<br>

			<!--sencond -->
				<div class="w3-container w3-card w3-padding-large">
					<div class="w3-container w3-cell">
						<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" class="w3-circle w3-left " style="width:80px;height:80px;">
						<br>
						<span class="w3-left">
							<h4>{{username}}</h4>
						</span> 
					</div>
					<div class="w3-container w3-cell">
						<p>According to a person familiar with this encounter, which took place about a decade ago, the agency had been preparing it for months. Through a business front, it had funded and staged the conference at an unsuspecting foreign centre of scientific research, invited speakers and guests, and planted operatives among the kitchen workers and other staff, just so it could entice the nuclear expert out of Iran, separate him for a few minutes from his guards, and pitch him one-to-one. A last-minute snag had almost derailed the plans: the target switched hotels because the conference’s preferred hotel cost $75 more than his superiors in Iran were willing to spend.
						</p>
						<button type="submit" class=" w3-btn w3-card w3-right w3-yellow" >comments</button>
					</div>
					<br>
				</div>
		<!--first comment ends-->
		</div>
{%endblock%}