{%extends "unsw_base.html"%}{%block user_zone%}
	<div class="w3-container w3-padding-large">
		<div class="w3-container w3-cell">
			<div class="w3-container w3-cell-top">
				{%if user.img_path %}
				<img src="{{ url_for('sent_img',path_name=user.img_path) }}" class="w3-circle w3-left " style="width:100px;height:100px;">
				{%else%}
				<img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" class="w3-circle w3-left " style="width:100px;height:100px;">
				{%endif%}
				<div class="w3-right w3-padding-large"><h1>{{user.full_name}}</h1></div> 
			</div>
			<br>
			{% if f_status== 0 %}
				<div class="w3-container w3-cell-bottom">
					<form method="POST">
					<button type="submit" class=" w3-btn w3-card w3-center w3-yellow w3-hover-green" name="change_fs" value="{{user.zid}}">Add as friend</button>
					</form>
				</div>
			{%else%}
				<div class="w3-container w3-cell-bottom">
					<form method="POST">
					<button type="submit" class=" w3-btn w3-card w3-center w3-yellow w3-hover-red" name="change_fs" value="{{user.zid}}">UnFriend</button>
					</form>
				</div>
			{%endif%}
			<br>
			<div class="w3-container w3-cell-bottom">
			<!-- display friends -->
				<div class=" w3-card w3-black w3-padding-large ">Friends</div>
				{%if friends %}
				{% for f in friends %}
				<div class="w3-container w3-padding-large">
					<div class="w3-container w3-cell">
							<a href="{{ url_for('visit',zid=f.zid) }}"  style="text-decoration:none;">
							{%if f.img_path %}
								<img src="{{ url_for('sent_img',path_name=f.img_path) }}" class="w3-circle w3-left " style="width:50px;height:50px;">
							{%else%}
								<img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" class="w3-circle w3-left " style="width:50px;height:50px;">
							{%endif%}
							</a>
					</div>
					<div class="w3-container w3-cell">
					<!-- host user detaill -->
						<a href="{{ url_for('visit',zid=f.zid) }}"  style="text-decoration:none;"><p>{{f.full_name}}<p></a>
					</div>
				</div>	
				<hr></hr>
				{%endfor%}
				{%else%}
					<div class="w3-container w3-padding-large">
						<h1>You need some friends</h1>
					</div>
				{%endif%}

			</div>
		</div>
		<div class="w3-container w3-cell">
		<!-- host user detaill -->
			<div class="w3-container w3-cell-top">
				<h1>Description</h1>
				{%if description%}
					<p>{{description}}</p>
				{%else%}
					<p>please add some description via setting</p>
				{%endif%}
				<p>program: {{user.program}}</p>
				<p>birthday: {{user.birthday}}</p>
			</div>
			<div class="w3-container w3-cell-bottom" style="width:700px">
				<div class=" w3-card w3-black w3-padding " style="width:700px">Post</div>
					{%if post_list%}
						{%for user_post in post_list %}	

						<div class="w3-container w3-card w3-padding-large">
						<p><b>{{user_post.time}}</b></p>
						{%if user_post.lines%}
						{%for item in user_post.lines%}
							<p>{{item|safe}}</p>
						{%endfor%}
						{%endif%}

						<button class=" w3-btn w3-card w3-right w3-yellow" onclick="showEditor('editor{{user_post.post_id}}')">comments</button>
									

						<!--editor zone-->
						<div id='editor{{user_post.post_id}}' class="w3-container" style="display:none;">
							<div  class="w3-padding-large w3-black">leave a messeage</div>
									<form class="w3-container w3-card w3-padding-large" method="POST">
										<input class="w3-input w3-border" type="text" placeholder="content" name="editor">
										<input type="hidden" name="post_id" value="{{user_post.post_id}}">
											<br>
										<button type="submit" class=" w3-btn w3-card w3-right w3-yellow" >submit</button>
									</form>
									<br>
							
						</div>
						<!--end editor-->
						<br>
						<br>
						<br>
						<br>
						<!-- comments zone-->
							{%if user_post.comment %}
							{%for user_comment in user_post.comment %}
							<div class="w3-container w3-card w3-padding-large">
								{%if me.zid == user_comment.from_user%}
									<form method="POST">
										<input type="hidden" name="delete" value="1">
										<input type="hidden" name="post_id" value="{{user_comment.post_id}}">

										<button type="submit" class=" w3-btn w3-right  w3-border w3-border-red w3-round-large w3-hover-red">delete</button>
									</form>
								{%endif%}
								<div class="w3-container w3-cell">
									<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" class="w3-circle w3-left " style="width:80px;height:80px;">
									<br>
									<span class="w3-left">
										<h4>{{user_comment.from_user}}</h4>
									</span> 
								</div>
								<div class="w3-container w3-cell">
									{%if user_comment.lines %}
									{%for comment_line in user_comment.lines%}
									<p>{{comment_line|safe}}</p>
									{%endfor%}
									{%endif%}
									<button class=" w3-btn w3-card w3-right w3-yellow" onclick="showEditor('editor{{user_comment.post_id}}')">comments</button>
									

																		<!--editor zone-->
									<div id='editor{{user_comment.post_id}}' class="w3-container" style="display:none;">
										<div  class="w3-padding-large w3-black">leave a messeage</div>
												<form class="w3-container w3-card w3-padding-large"  method="POST">
													<input class="w3-input w3-border" type="text" placeholder="content" name="editor">
													<input type="hidden" name="post_id" value="{{user_comment.post_id}}">
														<br>
													<button type="submit" class=" w3-btn w3-card w3-right w3-yellow" >submit</button>
												</form>
												<br>
										
									</div>
									<!--end editor-->

								</div>
								
								<br>
								<!--reply zone-->
									{%if user_comment.comment %}
									{%for reply in user_comment.comment %}
									<div class="w3-container w3-card w3-padding-large">
										{% if me.zid == reply.from_user%}
											<form method="POST">
												<input type="hidden" name="delete" value="1">
												<input type="hidden" name="post_id" value="{{reply.post_id}}">

												<button type="submit" class=" w3-btn w3-right  w3-border w3-border-red w3-round-large w3-hover-red">delete</button>
											</form>
										{%endif%}
										<div class="w3-container w3-cell">
											<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" class="w3-circle w3-left " style="width:80px;height:80px;">
											<br>
											<span class="w3-left">
												<h4>{{reply.from_user}}</h4>
											</span> 
										</div>
										<div class="w3-container w3-cell">
											{%if reply.lines %}
											{%for reply_line in reply.lines%}
											<p>{{reply_line|safe}}</p>
											{%endfor%}
											{%endif%}
										</div>
										<br>
									</div>

									{%endfor%}
									{%endif%}
								<!--end reply-->
							</div>
							<br>
							{%endfor%}
							{%endif%}

						<!-- end comments-->
						</div>
						<br>
						{%endfor%}
					{%endif%}
			</div>

		</div>

	</div>


{%endblock%}